* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  text-align: right;
  flex: 1;
}

nav ul {
  list-style-type: none;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 17;
}

p {
  color: #555;
  font-size: 19;
  font-weight: 500;
}

.logo img {
  width: 130px;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 130px 0;
}

.col-2 h1 {
  font-size: 60px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #3b6fffff;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #344756ff;
}

.product-btn {
  position: relative;
  display: inline-block;
  background: #3b6fffff;
  color: #fff;
  padding: 8px 50px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.vertical-align-btn {
  margin-left: 80%;
  position: relative;
}

.review-btn {
  margin-top: 10px;
  margin-left: 80%;
  margin-bottom: 50px;
  position: relative;
}

.product-btn:hover {
  background: #344756ff;
}

.header {
  background: radial-gradient(#fff, #d6f2ffff);
}

.header .row {
  margin-top: 0px;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  transition: transform 0.5s;
}

.col-3:hover {
  transform: translateY(-5px);
}

.col-3 img {
  width: 100%;
}

h5 {
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.small-container {
  max-width: 1280px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 250px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #3b6fffff;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating .fa {
  color: #ff3b3bff;
}

.col-4:hover {
  transform: translateY(-5px);
}

.offer {
  background: radial-gradient(#fff, #d6f2ffff);
  margin-top: 80px;
  padding: 100px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  color: #555;
  font-size: 18;
  font-weight: 600;
}

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  cursor: pointer;
  transition: transform 0.5s;
  border-radius: 5%;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.testimonial .col-3 img {
  width: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa.fa-quote-left {
  font-size: 34px;
  color: #ffba3bff;
  margin-bottom: 10px;
}

.col-3 p {
  font-size: 15px;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-style: 15px;
}

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}

.footer {
  background: #000;
  color: #8a8a8aff;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
footer-col-2,
footer-col-3,
footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
  font-size: 15px;
}

.footer-col-1 p {
  font-size: 15px;
}

.footer-space {
  margin-bottom: 60px;
}
